@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('login.css');
@import url('sidebar.css');

:root{
    --bs-color:#FFF;
}

*{
    margin: 0;
    padding: 0;
}

/*EEEEEE*/

ul{
    padding-left: 0px !important;
    margin-left: 0px !important;
}

li{
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

body{
    background-color: var(--bs-color) !important;
    font-family: "Source Sans 3", sans-serif !important;
    /*font-family: "Roboto", sans-serif !important;*/
    /*font-family: "Reddit Sans", sans-serif !important;*/
    /*font-family: "Roboto", Helvetica, Arial, sans-serif !important;*/

}

.bg-primario{
    background-color: #308d01 !important;
}

.text-primario{
    color: #308d01;
}

.form-label{
    font-size: 15px !important;
}

.btn-primary{
    background-color: #39A900 !important;
    border: 1px solid #39A900 !important;
}

.btn-primary:hover{
    background-color: #308d01 !important;
    border: 1px solid #308d01 !important;
}

.nav-link{
    color: #308d01 !important;
}

.content{
    width: calc(100% - 200px);
    height: 100vh;
    margin-left: 200px
}

.content-f{
    margin-left: 200px;
    padding: 20px;
}

.description{
    padding-top: 20px;
    border-top: 1px solid #efefef;
}

.btn-header-admin{
    color: #000 !important;
    list-style: none;
    text-decoration: none;
    border: 1px solid #efefef;
    padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
    .content-f{
        width: 100% !important;
        margin-left: 0px !important;
    }
    .container-fluid{
        margin-left: 0px !important;
    }
}
