<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
=======

>>>>>>> e01d2527c679ca4b9d29dc86abe33ecad9936a60
@import url('login.css');
@import url('sidebar.css');

:root{
    --bs-color:#EEEEEE;
}

body{
    background-color: var(--bs-color) !important;
    /*font-family: "Roboto", sans-serif !important;*/
<<<<<<< HEAD
    /*font-family: "Reddit Sans", sans-serif !important;*/
    /*font-family: "Roboto", Helvetica, Arial, sans-serif !important;*/
    font-family: "Rubik", sans-serif !important;
=======
    font-family: "Instrument Sans", sans-serif !important;
>>>>>>> e01d2527c679ca4b9d29dc86abe33ecad9936a60
}

.form-label{
    font-size: 15px !important;
}

.btn-primary{
    background-color: #39A900 !important;
    border: 1px solid #39A900 !important;
}

.btn-primary:hover{
    background-color: #308d01 !important;
    border: 1px solid #308d01 !important;
}

.nav-link{
    color: #308d01 !important;
}

.content{
    width: calc(100% - 250px); 
    height: 100vh;
    margin-left: 250px
}


@media only screen and (max-width: 600px) {
    .content-f{
        width: 100% !important;
        margin-left: 0px !important;
    }
}